.bg-navy{
    background-color: #21325B;
}

.nav-link{
    color: #8d99b9;
    padding: 0;
}
.nav-link:hover{
    color: #fff;
}
.footer-text{
    color: #707B96;
}

.btn-soft-light{
    background-color: #fff;
    opacity: 0.3;
    padding: 2px 8px;
}
.btn-soft-light:hover{
    background-color: #fff;
    opacity: 0.8;
}
.brand__logo{
    max-width: 100px;
}