<div class="jumbotron jumbotron-fluid my-0 cover__background">
    <div class="container">
      <h1 class="section__heading text-center text-white">Our Gallery</h1>
    </div>
  </div>
<div class="jumbotron jumbotron-fluid my-0 bg-transparent">
    <div class="container">
        <div class="image__gallery__container">
            <ng-container *ngFor="let imgs of _themeService?.gallery;">
                <div class="gallery__img"
                    (click)="openModal(imgs?.imgUrl)">
                    <a href="#" data-toggle="modal" data-target="#imgModal">
                        <img [src]="imgs?.imgUrl" class="img-fluid"
                            alt="">
                    </a>
                </div>
            </ng-container>
           
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="imgModal" tabindex="-1" role="dialog" aria-labelledby="imgModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header p-0 pr-3">
                <button type="button" class="close bg-white p-1 rounded-circle" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z" />
                            <path fill-rule="evenodd"
                                d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z" />
                        </svg>
                    </span>
                </button>
            </div>
            <div class="modal-body p-0 bg-transparent">
                <img [src]="openModalImg" class="img-fluid" id="modalImgOpen">
            </div>
        </div>
    </div>
</div>