.nav-item>.nav-link{
    color: #B4BCC4;
}
.active{
    color: #377DFF !important;
}
.navbar-toggler{
    border: none;
}
.navbar-toggler:focus{
    outline: none;
}

.navbar_brand_logo{
    max-width: 50px;
}